@model ERP.Web.Service.ViewModels.ControllerSetting.ControllerSettingSearchListViewModel_result
@if (Model.ControllerList != null && Model.ControllerList.Any())
{
    <table class="footable table table-stripped toggle-arrow-tiny">
        <thead>
            <tr>
                <th data-sort-ignore="true">序號</th>
                <th data-sort-ignore="true">站台碼</th>
                <th data-sort-ignore="true">控制器</th>
                <th data-sort-ignore="true">活動名稱</th>
                <th data-sort-ignore="true">使用方法</th>
                <th data-sort-ignore="true">顯示名稱</th>
                <th data-sort-ignore="true">排序</th>
                <th data-sort-ignore="true">父序號</th>
                <th data-sort-ignore="true">站台</th>
                <th data-sort-ignore="true">是否顯示</th>
                <th data-sort-ignore="true" class="text-center" style="width:50px;">刪除</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.ControllerList)
            {
                <tr>
                    <td>
                        <a asp-action="ActDataMaintain" asp-route-id="@item.ID">@item.Seq</a>
                    </td>

                    <td>
                        @item.StationCode
                    </td>
                    <td>
                        @item.Controller
                    </td>
                    <td>
                        @item.Action
                    </td>
                    <td>
                        @item.HttpMethod
                    </td>
                    <td>
                        @item.DisplayName
                    </td>
                    <td>
                        @item.Sort
                    </td>
                    <td>
                        @if (@item.ParentSeq != 0)
                        {
                            <a asp-action="ActDataMaintain" asp-route-id="@item.ParentControllerMainID">@item.ParentSeq</a>
                        }
                    </td>
                    <td>
                        @item.Domain
                    </td>
                    <td>
                        @if (@item.IsMenu == 1)
                        {
                            @:顯示
                        }
                        else
                        {
                            @:隱藏
                        }
                    </td>
                    <td class="text-center">
                        <i data-id="@item.ID" class="fa-solid fa-xmark delBtn" onclick="DeleteController(@item.ID)" title="刪除" style="cursor:pointer;"></i>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <div class="text-center">
        <h3>查無資料</h3>
    </div>
}
