@model ERP.Web.Service.ViewModels.ControllerSetting.ControllerSettingDataMaintainViewModel_result


<partial name="~/Views/Shared/_Page.cshtml" model="@Model.Pager" />

<div class="row footable">
    @if (Model.IconList != null)
    {
        foreach (var icon in Model.IconList)
        {
            <div class="col-2 text-center mb-4">
                <div class="border rounded p-3 icon-item" data-icon="@icon.IconClass" style="cursor:pointer;">
                    <i class="fa @icon.IconClass fa-2x"></i>
                    <div class="mt-2 small">@icon.IconClass</div>
                </div>
            </div>
        }
    }
</div>

<partial name="~/Views/Shared/_Page.cshtml" model="@Model.Pager" />


<script>
        $(function () {
        // 開啟 Modal
        $("#OpenIconModal").on("click", function (e) {
            e.preventDefault();
            $("#IconClassPreview").modal("show");
        });

        // 選取 Icon
        $("#IconClassPreview").on("click", ".icon-item", function () {
            var selectedIcon = $(this).data("icon");
            $("#IconClass").val(selectedIcon);
            $("#IconClassPreview").modal("hide");
        });
    });
</script>