@model List<ERP.Web.Utility.ViewModel.MenuData>

@if (Model != null && Model.Any())
{
    <ul class="tree-list">
        @foreach (var n in Model.OrderBy(x => x.Sort))
        {
            bool hasChildren = n.Children != null && n.Children.Any();
            string icon = string.IsNullOrEmpty(n.IconClass) ? "" : n.IconClass;

            <li data-id="@n.ID" class="tree-node">
                <div class="node-content">
                    @if (hasChildren)
                    {
                        <i class="toggle-icon fa fa-chevron-right"></i>
                    }
                    else
                    {
                        <i class="toggle-placeholder"></i>
                    }

                    <input type="checkbox" class="tree-checkbox" checked="@n.IsCheck" data-id="@n.ID" />

                    @if (!string.IsNullOrEmpty(n.IconClass))
                    {
                        <i class="node-icon @icon"></i>
                    }
                    <span class='node-text-group'>
                        <span class="node-name">@n.DisplayName</span>
                        <span class="node-desc">@n.ControllerDesc</span>
                    </span>

                </div>

                @if (hasChildren)
                {
                    @Html.Partial("_TreePartial", n.Children)
                }
            </li>
        }
    </ul>
}

