@model ERP.Web.Service.ViewModels.ControllerSetting.ControllerSettingCreateViewModel_result

<!-- Select2 CSS -->
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
<link href="~/css/ControllerSetting/controllerSettingCommon.css" rel="stylesheet" />
<div class="wrapper wrapper-content animated fadeIn">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox">
                <div class="ibox-content">
                    <form id="ControllerCreateForm" method="post" onkeydown="return event.keyCode != 13;" action="/ControllerSetting/ControllerCreate" novalidate="novalidate">
                        <div class="row">
                            <div class="col-sm-12 maintainer-info">
                                維護人日：<span>廖家毅 資訊部-系統開發課</span>
                            </div>
                        </div>
                        <div class="row">
                            <label for="StationMainID" class="col-sm-2 col-form-label font-weight-bold text-sm-right">站台<span class="text-danger">*</span></label>
                            <div class="col-sm-10">
                                <select asp-for="@Model.ControllerMain.StationMainID" asp-items="@Model.StationListItem" class="form-control form-control-sm" style="width:100%">
                                    <option value="">請選擇</option>
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <label for="DisplayName" class="col-sm-2 col-form-label font-weight-bold text-sm-right">顯示名稱<span class="text-danger">*</span></label>
                            <div class="col-sm-10">
                                <input asp-for="@Model.ControllerMain.DisplayName" class="form-control form-control-sm" type="text"  value="">
                            </div>
                        </div>
                        <div class="row">
                            <label for="Controller" class="col-sm-2 col-form-label font-weight-bold text-sm-right">控制器名稱</label>
                            <div class="col-sm-10">
                                <input asp-for="@Model.ControllerMain.Controller" class="form-control form-control-sm" type="text" value="">
                            </div>
                        </div>
                        <div class="row">
                            <label for="Action" class="col-sm-2 col-form-label font-weight-bold text-sm-right">活動名稱</label>
                            <div class="col-sm-10">
                                <input asp-for="@Model.ControllerMain.Action" class="form-control form-control-sm" type="text" value="">
                            </div>
                        </div>
                        <div class="row">
                            <label for="HttpMethod" class="col-sm-2 col-form-label font-weight-bold text-sm-right">使用方法</label>
                            <div class="col-sm-10">
                                <select class="form-control form-control-sm" asp-for="@Model.ControllerMain.HttpMethod">
                                    <option value=""></option>
                                    <option value="Get">Get</option>
                                    <option value="Post">Post</option>
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <label for="ParentControllerMainID" class="col-sm-2 col-form-label font-weight-bold text-sm-right">父層級<span class="text-danger">*</span></label>
                            <div class="col-sm-10">
                                <select asp-for="@Model.ControllerMain.ParentControllerMainID" asp-items="@Model.ControllerListItem" class="form-control form-control-sm" style="width:100%">
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <label for="IconClass" class="col-sm-2 col-form-label font-weight-bold text-sm-right">文字前面的Icon Class</label>
                            <div class="col-sm-10">
                                <input asp-for="@Model.ControllerMain.IconClass" class="form-control form-control-sm" type="text" value="">
                                <span class="form-text m-b-none"><a id="OpenIconModal" style="color:#5b7d9c" href="#" class="btn btn-link"><i class="fa-solid fa-diagram-project"></i> 參考連結</a></span>
                            </div>
                        </div>
                        <div class="row">
                            <label for="FrontNumber" class="col-sm-2 col-form-label font-weight-bold text-sm-right">文字前面的編碼</label>
                            <div class="col-sm-10">
                                <input asp-for="@Model.ControllerMain.FrontNumber" class="form-control form-control-sm" type="text" value="">
                            </div>
                        </div>
                        <div class="row">
                            <label for="Sort" class="col-sm-2 col-form-label font-weight-bold text-sm-right">排序<span class="text-danger">*</span></label>
                            <div class="col-sm-10">
                                <input asp-for="@Model.ControllerMain.Sort" type="number" min="0" class="form-control form-control-sm" value="">
                            </div>
                        </div>
                        <div class="row">
                            <label for="IsMenu" class="col-sm-2 col-form-label font-weight-bold text-sm-right">是否顯示在Menu<span class="text-danger">*</span></label>
                            <div class="col-sm-10">
                                <select asp-for="@Model.ControllerMain.IsMenu" class="form-control form-control-sm">
                                    <option value=""></option>
                                    <option value="true" selected>是</option>
                                    <option value="false">否</option>
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <label for="isBlank" class="col-sm-2 col-form-label font-weight-bold text-sm-right">麵包屑功能方式Menu<span class="text-danger">*</span></label>
                            <div class="col-sm-10">
                                <select asp-for="@Model.ControllerMain.IsBlank" class="form-control form-control-sm">
                                    <option value="1" selected="">導頁</option>
                                    <option value="2">另開</option>
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <label for="ControllerDesc" class="col-sm-2 col-form-label font-weight-bold text-sm-right">敘述<span class="text-danger">*</span></label>
                            <div class="col-sm-10">
                                <input asp-for="@Model.ControllerMain.ControllerDesc" type="text" class="form-control form-control-sm" value="">
                            </div>
                        </div>
                        <div class="row text-right" style="margin-top:10px;">
                            <div class="col">
                                <button id="SaveBtn" class="btn btn-success btn-sm" type="submit"><i style="width:12px;" class="fa fa-save"></i> 存檔</button>
                                <button class="btn btn-default btn-sm" type="button" onclick="window.location.href='/ControllerSetting/ControllerSettingSearchList'"><i style="width:12px;" class="fa fa-times"></i> 取消</button>
                            </div>
                        </div>

                        @* 樣式光箱 *@
                        <!-- Modal -->
                        <div class="modal fade" id="IconClassPreview" tabindex="-1" role="dialog">
                            <div class="modal-dialog modal-xxl" role="document">
                                <div class="modal-content ">
                                    <div class="modal-header" style="border: 0;">
                                        <h5 class="modal-title">選擇 Icon</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                                    </div>
                                    <div class="modal-body" id="IconListContainer">
                                        @* 一開始先載入第一頁 *@
                                        @await Html.PartialAsync("_IconListPartial", Model.IconGroup)
                                    </div>
                                </div>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- jQuery + Select2 -->
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>

<script>
    $(function () {
        // 套用全部 select
        $('select').select2({
            placeholder: "請選擇",
            allowClear: true,
            width: '100%'
        });
    });
    

    $("#SaveBtn").click(function (e) {
        e.preventDefault();
        $.ajax({
            url: '/ControllerSetting/ControllerCreate',
            type: 'POST',
            data: $("#ControllerCreateForm").serialize(),
            success: function (res) {
                if (res.isSuccess) {
                    alert("新增成功！");
                    setTimeout(function () {
                        window.location.href = '/ControllerSetting/ActDataMaintain/?ID=' + res.id;
                    }, 500);
                } else {
                    alert("新增失敗！");
                }
            }
        });
    });




    $("#StationMainID").change(function () {
        var stationMainID = $(this).val();

        $.ajax({
            url: '/ControllerSetting/GetControllerListItem?StationMainID=' + stationMainID,
            type: 'GET',
            success: function (res) {
                if (res && res.length > 0) {
                    var $parentSelect = $("#ParentControllerMainID");
                    $parentSelect.empty(); // 先清空
                    $parentSelect.append($('<option>', { value: '', text: '請選擇' }));

                    // 動態加入選項
                    $.each(res, function (i, item) {
                        $parentSelect.append($('<option>', {
                            value: item.value,
                            text: item.text
                        }));
                    });
                } else {
                    alert("查無資料！");
                }
            },
            error: function (xhr) {
                console.error("錯誤:", xhr.responseText);
                alert("發生錯誤，請稍後再試！");
            }
        });
    });



    //// 建立 callback，告訴 PageTurning 目標容器在哪裡
    //var callback = function () {
    //    return {
    //        method: "get",
    //        url: '@Url.Action("IconList")',
    //        footable: true,
    //        wrapperContent: "#icon-list-container", // 只更新這個容器
    //        data: {}
    //    };
    //};

    //// 初始化分頁控制
    //PageTurning(callback);

</script>


