<h2 class="mb-3">請填寫考試資訊</h2>

<form method="get" action="@Url.Action("Test", "Exam")">
    <div>
        <div class="row align-items-end gy-3 gx-4 col-12">

            <div class="col-2">
                <label for="TestType" class="form-label">科目：</label>
                <select id="TestType" name="TestType" class="form-select">
                    <option value="">請選擇</option>
                    @foreach (var testType in Model.TestTypeList)
                    {
                        <option value="@testType.Value">@testType.Text</option>
                    }
                </select>
            </div>

            <div class="col-4">
                <label for="Select2ClassNameList" class="form-label">選擇考卷：</label>
                <select id="Select2ClassNameList" name="ClassNameList" class="form-select" multiple>
                    @if (Model.ClassNameList != null)
                        @foreach (var className in Model.ClassNameList)
                        {
                            <option value="@className">@className</option>
                        }
                </select>
            </div>

            <div class="col-auto">
                <label for="KidID" class="form-label">選擇學生：</label>
                <select id="KidID" name="KidID" class="form-select">
                    <option value="">請選擇</option>
                    @if(Model.KidList != null)
                    {
                        @foreach (var kid in Model.KidList)
                        {
                            <option value="@kid.Value">@kid.Text</option>
                        } 
                    }
                </select>
            </div>

            <div class="col-2">
                <button type="submit" class="btn btn-primary">送出</button>
            </div>

        </div>
    </div>

</form>
<hr />