<partial name="~/Views/Shared/_Page.cshtml" model="@Model.Pager" />

<table class="table table-bordered table-hover">
    <thead class="table-light">
        <tr class="text-center">
            <th class="col-1">選擇</th>
            <th class="col-2">課程</th>
            <th class="col-4">問題</th>
            <th class="col-4">答案</th>
            <th class="col-1">答錯</th>
            <th class="col-2">時間</th>
            <th class="col-1"><button class="btn btn-primary btn-sm" onclick="openModal()">修正</button></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ExamDataList)
        {
            <tr class="text-center align-middle">
                <td>
                    <input type="checkbox" class="form-check-input" name="selectedQuestions[@item.WordID]" />
                </td>
                <td>@item.Class</td>
                <td><input type="text" class="form-control" value="@item.Question" /></td>
                <td><input type="text" class="form-control" value="@item.Answer" /></td>
                <td>
                    <input type="checkbox" class="form-check-input correct-checkbox" @(item.Correct == 1 ? "checked" : "") />
                </td>
                <td data-testdate="@item.TestDate">@item.TestDate.ToString("yyyy/MM/dd")</td>
                <td>
                    <button class="btn btn-primary btn-sm" data-wordid="@item.WordID" onclick="CodeMainSave(this)">修正</button>
                </td>
            </tr>
        }
    </tbody>
</table>

<partial name="~/Views/Shared/_Page.cshtml" model="@Model.Pager" />