@using ERP.Web.Utility.Paging
@model ERP.Web.Utility.Paging.Paging
<div class="page-block" style="flex-wrap:wrap;display:flex;justify-content:flex-end;">
    <ul class="pagination">
        <li class="footable-page-arrow @(Model.HasPreviousPage?"":"disabled")"><a data-page="1">«</a></li>
        <li class="footable-page-arrow @(Model.HasPreviousPage?"":"disabled")"><a data-page="@(Model.PageNumber - 1)">‹</a></li>
        @for (int i = Model.PageStart; i <= Model.PageEnd; i++)
        {
            <li class="footable-page @(Model.PageNumber==i?"active":"")"><a data-page="@i">@i</a></li>
        }
        <li class="footable-page-arrow @(Model.HasNextPage?"":"disabled")"><a data-page="@(Model.PageNumber + 1)">›</a></li>
        <li class="footable-page-arrow @(Model.HasNextPage?"":"disabled")"><a data-page="@(Model.PageCount)">»</a></li>
    </ul>
    <span>&nbsp;共 @Model.TotalItemCount 筆 @Model.PageCount 頁&nbsp;&nbsp;每頁<input name="PageSize" type="number" min="1" max="99" value="@Model.PageSize" style="height:28.29px;width:40px" />筆</span>
</div>