@model ERP.Web.Service.ViewModels.ExamSearchListViewModel_result

<link rel="stylesheet" href="~/StaticFiles/lib/select2/dist/css/select2.css" />

<!-- Excel 檔案上傳區 -->
<form id="uploadForm" enctype="multipart/form-data">
    <input type="file" id="fileInput" name="file" accept=".xlsx, .xls" />
    <button class="btn btn-primary btn-sm" type="submit">上傳 Excel</button>
</form>
<!-- 狀態訊息 -->
<p id="uploadStatus"></p>

<hr />

<h2 class="mb-4">請填寫考試資訊</h2>

<form method="get" action="@Url.Action("Test", "Exam")">
    <label for="TestType" class="mt-3">科目：</label>
    <select id="TestType" name="TestType" class="form-select">
        <option value="">請選擇</option>
        @foreach (var testType in Model.TestTypeList)
        {
            <option value="@testType.Value">@testType.Text</option>
        }
    </select>

    <label for="Class" class="mt-3">選擇考卷：</label>
    <select id="Select2ClassNameList" name="ClassNameList" class="form-select" multiple>
        @foreach (var className in Model.ClassNameList)
        {
            <option value="@className">@className</option>
        }
    </select>

    <label for="KidID" class="mt-3">選擇學生：</label>
    <select id="KidID" name="KidID" class="form-select">
        <option value="">請選擇</option>
        @foreach (var kid in Model.KidList)
        {
            <option value="@kid.Value">@kid.Text</option>
        }
    </select>

    <div class="mt-4">
        <button type="submit" class="btn btn-primary">送出</button>
    </div>
</form>

<script src="~/StaticFiles/lib/select2/dist/js/select2.min.js"></script>
<script>
    $(function () {
        $('#Select2ClassNameList').select2({
        placeholder: '選擇考卷',
            allowClear: true,
            closeOnSelect: false,
        });
    });

    $(document).ready(function () {
        $("#uploadForm").submit(function (e) {
            e.preventDefault(); // 防止表單提交

            var formData = new FormData();
            var fileInput = $("#fileInput")[0].files[0];

            if (!fileInput) {
                $("#uploadStatus").text("請選擇 Excel 檔案");
                return;
            }

            formData.append("file", fileInput);

            $.ajax({
                url: "@Url.Action("Upload", "Exam")",
                type: "POST",
                data: formData,
                processData: false,
                contentType: false,
                success: function (response) {
                    $("#uploadStatus").text("上傳成功！");
                },
                error: function () {
                    $("#uploadStatus").text("上傳失敗，請重試");
                }
            });
        });

        $(document).on("change", "#Class, #CorrectType, #KidID, #TestDate", function () {
            var ClassNameList = $("#Class").val() || [];
            var CorrectType = $("#CorrectType").val();
            var KidID = $("#KidID").val();
            var TestDate = $("#TestDate").val();
            $.ajax({
                url: '@Url.Action("GetList")',
                type: 'GET',
                traditional: true, // 讓 jQuery 正確傳遞陣列
                data: {
                    ClassNameList: ClassNameList,
                    CorrectType: CorrectType,
                    KidID: KidID,
                    TestDate: TestDate
                }
            }).done(function (result) {
                if (result.TestDate) {
                    $("#TestDate").val(result.TestDate);
                }
                $('#partial').html(result);

            });
        });



        var callback = function () {
            var ClassName = $("#Class").val();
            var CorrectType = $("#CorrectType").val();
            var KidID = $("#KidID").val();
            return {
                method: "get",
                url: '@Url.Action("GetList")',
                footable: true,
                data: {
                    ClassName: ClassName,
                    CorrectType: CorrectType,
                    KidID: KidID
                }
            };
        };
        PageTurning(callback);

    });
</script>
