@model ERP.Web.Service.ViewModels.ExamSearchListViewModel_result




<!-- 這裡是放置 _Customize Modal 的地方 -->

<div class="wrapper wrapper-content animated fadeIn">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox">
                <div class="ibox-content">
                    <div>
                        <label for="KidID" class="mt-3">選擇學生：</label>
                        <select id="KidID" name="KidID" class="form-select">
                            <option value="">請選擇</option>
                            @foreach (var kid in Model.KidList)
                            {
                                <option value="@kid.Value">@kid.Text</option>
                            }
                        </select>
                        <partial name="_Customize" model="Model">
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="ibox">
                                <div id="partial" class="ibox-content ibox-list-content">
                                    <partial name="_ReTest" model="Model">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $("#uploadForm").submit(function (e) {
            e.preventDefault(); // 防止表單提交

            var formData = new FormData();
            var fileInput = $("#fileInput")[0].files[0];

            if (!fileInput) {
                $("#uploadStatus").text("請選擇 Excel 檔案");
                return;
            }

            formData.append("file", fileInput);

            $.ajax({
                url: "@Url.Action("Upload", "Exam")",
                type: "POST",
                data: formData,
                processData: false,
                contentType: false,
                success: function (response) {
                    $("#uploadStatus").text("上傳成功！");
                },
                error: function () {
                    $("#uploadStatus").text("上傳失敗，請重試");
                }
            });
        });

        $(document).on("change", "#Class, #CorrectType, #KidID, #TestDate", function () {
            var ClassNameList = $("#Class").val() || [];
            var CorrectType = $("#CorrectType").val();
            var KidID = $("#KidID").val();
            var TestDate = $("#TestDate").val();
            $.ajax({
                url: '@Url.Action("GetList")',
                type: 'GET',
                traditional: true, // 讓 jQuery 正確傳遞陣列
                data: {
                    ClassNameList: ClassNameList,
                    CorrectType: CorrectType,
                    KidID: KidID,
                    TestDate:TestDate
                }
            }).done(function (result) {
                if (result.TestDate) {
                $("#TestDate").val(result.TestDate);
                }
                $('#partial').html(result);

            });
        });



        var callback = function () {
            var ClassName = $("#Class").val();
            var CorrectType = $("#CorrectType").val();
            var KidID = $("#KidID").val();
            return {
                method: "get",
                url: '@Url.Action("GetList")',
                footable: true,
                data: {
                    ClassName: ClassName,
                    CorrectType: CorrectType,
                    KidID: KidID
                }
            };
        };
        PageTurning(callback);

    });

    function CodeMainSave(e) {
        var WordID = $(e).data("wordid");
        var Correct = $(e).closest("tr").find(".correct-checkbox").prop("checked");
        var TestDate = $(e).closest("tr").find("td[data-testdate]").data("testdate");;
        var KidID = $("#KidID").val();
        
        if (WordID) {
            $.ajax({
                url: '@Url.Action("UpdateExamWord", "Exam")',  // 更改為您的提交動作
                type: 'POST',
                data: {
                    WordID: WordID,
                    KidID: KidID,
                    TestDate: TestDate,
                    Correct: Correct
                },
                success: function (response) {
                    alert("資料已成功提交！");
                },
                error: function (xhr, status, error) {
                    alert("提交失敗，請再試一次！");
                }
            });
        } else {
            alert("請輸入考券名稱！");
        }
    }



    function openModal() {
        var selectedWordIDs = [];
        $("input[name^='selectedQuestions']:checked").each(function () {
            selectedWordIDs.push($(this).val());
        });

        // 顯示已選擇的題目數量
        $("#selectedWordCountValue").html("&nbsp;" + selectedWordIDs.length);
        // 取得 TestType 值並設定
        var testType = $("#TestType").val();
        $("#modalTestType").val(testType).change();


        // 取得 KidID 值並設定
        var kidID = $("#KidID").val();
        $("#modalKidID").val(kidID).change();


    // 使用 Bootstrap 的 modal 方法打開視窗
    var modal = new bootstrap.Modal(document.getElementById('examModal'));
    modal.show();
    }


    function closeModal() {
        var modal = bootstrap.Modal.getInstance(document.getElementById('examModal'));
        if (modal) modal.hide();
    }

    function submitExamData() {
        var selectedWordIDs = [];
        $("input[name^='selectedQuestions']:checked").each(function () {
            selectedWordIDs.push($(this).val());
        });

        var KidID = $("#modalKidID").val();
        var TestType = $("#modalTestType").val();
        var CorrectType = $("#modalCorrectType").val();
        var ClassName = $("#modalClass").val(); // 多選

        // **驗證所有欄位是否選擇**
        if (!KidID || !TestType || !CorrectType || !ClassName.length) {
            alert("請確保所有選項均已選擇！");
            return;
        }

        // **提交數據到後端**
        $.ajax({
            url: '@Url.Action("Submit", "Exam")',
            type: 'POST',
            data: {
                selectedWordIDs: selectedWordIDs,
                KidID: KidID,
                TestType: TestType,
                CorrectType: CorrectType,
                ClassName: ClassName
            },
            success: function (response) {
                alert("資料已成功提交！");
                closeModal(); // 關閉 Modal
            },
            error: function (xhr, status, error) {
                alert("提交失敗，請再試一次！");
            }
        });
    }
</script>
