@model ERP.Web.Utility.ViewModel.LeftSidebarViewModel
@inject Microsoft.Extensions.Options.IOptions<Dictionary<string, string>> _sharedDomain



<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav metismenu" id="side-menu">
            @*使用者資訊*@
            <li class="nav-header">
                <div class="dropdown profile-element">
                    <img alt="image" class="rounded-circle" src="img/profile_small.jpg" />
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                        @*使用者名稱*@
                        <span class="block m-t-xs font-bold">王宇</span>
                        @*使用者角色權限*@
                        <span class="text-muted text-xs block">管理员 <b class="caret"></b></span>
                    </a>
                    <ul class="dropdown-menu animated fadeInRight m-t-xs">
                        <li><a class="dropdown-item" href="profile.html">个人信息</a></li>
                        <li><a class="dropdown-item" href="contacts.html">好友</a></li>
                        <li><a class="dropdown-item" href="mailbox.html">信箱</a></li>
                        <li class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="login.html">登出</a></li>
                    </ul>
                </div>
                <div class="logo-element">
                    IN+
                </div>
            </li>


            @if (Model.List != null)
            {

                @foreach (var item in Model.List
               .Where(m => m.ParentControllerMainID == "00000000-0000-0000-0000-000000000000")
               .OrderBy(m => m.Sort))
                {
                    <li>
                        @if (item.Children != null && item.Children.Any())
                        {
                            <a href="#">
                                <i class="fa-solid fa-house"></i>
                                <span class="nav-label">@item.DisplayName</span>
                                <span class="fa arrow"></span>
                            </a>
                            <ul class="nav nav-second-level collapse">
                                @foreach (var child in item.Children.OrderBy(c => c.Sort))
                                {
                                    @Html.Partial("_MenuItem", child)
                                }
                            </ul>
                        }
                    </li>
                }

            }

            @*後台管理Menu*@
            <li>
                <a href="index.html"><i class="fa fa-th-large"></i> <span class="nav-label">Dashboards</span> <span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li>
                        <a href="@Url.Action("Index", "Charts")">圖表</a>
                    </li>
                    <li>
                        <a href="@Url.Action("Index", "SeatMap")">座位圖</a>
                    </li>
                    <li>
                        <a href="#">考券</a>
                        <ul class="nav nav-third-level collapse">
                            <li>
                                <a href="@Url.Action("NewTest", "Exam", new { CorrectType = 0 })">新試題</a>
                            </li>
                            <li>
                                <a href="@Url.Action("ReTest", "Exam")">複習試題</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="@Url.Action("Index", "AddtoCart")">加入購物車</a>
                    </li>
                </ul>
            </li>
        </ul>

    </div>
</nav>